<div class="container homepage-index">
    <div class="row">
        <div class="columns small-6" style="background-color:aqua">
           <img src="" alt="">
        </div>
        <div class="columns small-6" style="background-color:bisque">
          <p>Accedez a ma carte de vin</p>
          <%= link_to 'Acceder', root_path %>
        </div>
    </div>
    <div class="row">
        <div class="columns small-6" style="background-color:bisque">
            <p>Accedez a ma carte de vin </p>
            <%= link_to 'Acceder', root_path %>
        </div>
        <div class="columns small-6" style="background-color:aqua">
            <img src="" alt="">
        </div>
    </div>
</div>
