<div class="container homepage-index">
    <div class="inner-container">
        <div class="row">
            <div class="columns small-6 column_first">
                <div class="block-hp-choice">
                    <%= image_tag("fles_left.png",  :alt => "rss feed") %>
                </div>
            </div>
            <div class="columns small-6 column_second">
                <div class="block-hp-choice">
                    <p>Accedez à ma carte de vin</p>
                    <div class="button_container">
                        <div class="container_cube">
                            <div class="inner_cube">
                                <span>
                                    <%= link_to 'Acceder', root_path %>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="columns small-6 column_third">
                <div class="block-hp-choice">
                   <p>Enrichir ma cave </p>
                   <div class="button_container">
                       <div class="container_cube">
                           <div class="inner_cube">
                               <span>
                                   <%= link_to 'Acceder', root_path %> 
                               </span>
                           </div>
                       </div>
                   </div>

                </div>
            </div>
            <div class="columns small-6 column_fourth">
                <div class="block-hp-choice">
                    <%= image_tag("fles_right.png",  :alt => "rss feed") %>
                </div>
            </div>
        </div>
    </div>
</div>
