@import "font-awesome";
@import "foundation_and_overrides";

$dark-gray :#495057; 
$medium-gray: #595959;
$light-gray: #868e96;
$corall: #ff7f50;
h4{
  text-align: center; 
  font-weight: 200; 
  color: $corall; 
  padding: 15px 0;  
}
.footer{  
  background-color: $dark-gray;
  text-align: center;
  font-size: 1.2rem;
  padding: 1rem;
  position: absolute;
  bottom: 0; 
  width: 100%;
  h3{
    color: $light-gray;
  }
  p{
    color: $light-gray;
    font-size: 12px; 
  }
  li{
    list-style: none; 
  }
  a{
    color: $light-gray;
    font-size: 12px; 
  }
}
.container.homepage-index{
  margin-top: 70px;
  display: grid;
  .columns{
    height: 250px; 
  }
}
.block-hp-choice{
  display: block;
  text-align: center;  
  p{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  a{
    margin: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-60%, -50%);
  }
}