@import "font-awesome";
@import "foundation_and_overrides";

$dark-gray :#495057; 
$medium-gray: #595959;
$light-gray: #868e96;
$corall: #ff7f50;
$cube-height: 40px;

*{
  font-family: 'Titillium Web', sans-serif;
}
.top-bar a,
.top-bar-section ul li > a{
  font-family: 'Titillium Web', sans-serif;
}
h4{
  text-align: center; 
  font-weight: 200; 
  color: $corall; 
  padding: 15px 0;  
}
.footer{  
  background-color: $dark-gray;
  text-align: center;
  font-size: 1.2rem;
  padding: 1rem;
  position: absolute;
  bottom: 0; 
  width: 100%;
  h3{
    color: $light-gray;
  }
  p{
    color: $light-gray;
    font-size: 12px; 
  }
  li{
    list-style: none;
    color: $light-gray;
    font-size: 12px; 
  }
  a{
    color: $light-gray;
    font-size: 12px; 
  }
}
.container.homepage-index{
  margin-top: 70px;
  display: grid;
  .columns{
    height: 250px; 
  }
}
.column_second, .column_third{
  background-color: rgba(255, 228, 196, 0.3);
}
.block-hp-choice{
  display: block;
  text-align: center;  
  p{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.button_container{
  width: 100%; 
}
.container_cube{
  top: 70%;
  left: 50%;
  transform: translate(-70%, -50%);
  z-index: 1;
  position: absolute;
  margin-right: auto;
  margin-left: auto;
  right: 0;
  width: 200px;
  height: $cube-height;
  text-align: center;
}
.container_cube{
  width: 200px;
  height: $cube-height;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}
.inner_cube{
  border: 1px solid #fdad59;
  text-transform: uppercase;
  font-weight: 300;
  line-height:$cube-height;
  height: 100%;
}
.inner_cube a{
  color: #fdad59;
  font-size: 20px;
  letter-spacing: 5px;
  padding: 0 30px;
}
.container_cube:hover{
  .inner_cube{
    border: 1px solid #daa37f;
  }
  a{
    color: #daa37f; 
  }
}
div.left_block{
  animation: leftToRight 1.5s ease-in; 
}
div.right_block{
  animation: rightToLeft 1.5s ease-in; 
}
@keyframes rightToLeft{
  0% {
    transform: translateX(450px);
  }
  100% {
     transform: translateX(0px); 
  }
}
@keyframes leftToRight{
  0% {
    transform: translateX(-450px);
  }
  100% {
     transform: translateX(0px); 
  }
}

.btn_submit input{
  background-color: transparent; 
  border: 1px solid #fdad59;
  text-transform: uppercase;
  font-weight: 300;
  line-height:$cube-height;
  height: 100%;
  animation: submit 2s ease-out; 
  width: 100px; 
  border-radius: 5px; 
  cursor: pointer; 
}

@keyframes submit {
  0% {
    transform: translateY(100px);
  }
  100% {
     transform: translateY(0px); 
  }
}