<footer class="footer marketing-site-footer">
  <div class="row medium-unstack">
      <div class="columns medium-6 large-4">
        <h3>Nos valeurs</h3>
        <p>
          
          propugnaculis insistebant et pinnis, congesta undique saxa telaque habentes in promptu, 
          ut si quis se proripuisset interius, multitudine missilium sterneretur et lapidum. 
        </p>
      </div>
      <div class="columns medium-6 large-4">
      <h3>lorem</h3>
        <p>
          Hac ita persuasione reducti intra moenia bellatores obseratis undique portarum aditibus, 
          propugnaculis insistebant et pinnis, congesta undique saxa telaque habentes in promptu
        </p>
      </div>
      <div class="columns medium-6 large-4">
        <h3>Follow me</h3>
        <ul>
          <li><i class="fab fa-twitter"></i><%= link_to  'Twitter', 'https://twitter.com/CindyJacobcindy?lang=en',{ :target=> "blank" } %></li>
          <li><i class="fab fa-github"></i><%= link_to 'Github', 'https://github.com/cijacob',{ :target=> "blank" } %></li>
          <li><i class="fab fa-linkedin-in"></i><%= link_to 'Linkedin', 'https://www.linkedin.com/in/cindy-jacob-732250a5/',{ :target=> "blank" } %></li>
      </div>
  </div>
</footer>
