<footer class="footer marketing-site-footer">
  <div class="row medium-unstack">
      <div class="columns medium-6 large-3">
        <h3>Nos valeurs</h3>
        <p>
          
          propugnaculis insistebant et pinnis, congesta undique saxa telaque habentes in promptu, 
          ut si quis se proripuisset interius, multitudine missilium sterneretur et lapidum. 
        </p>
      </div>
      <div class="columns medium-6 large-3">
      <h3>lorem</h3>
        <p>
          Hac ita persuasione reducti intra moenia bellatores obseratis undique portarum aditibus, 
          propugnaculis insistebant et pinnis, congesta undique saxa telaque habentes in promptu
        </p>
      </div>
      <div class="columns medium-6 large-3">
        <h3>lorem</h3>
        <p>
          Hac ita persuasione reducti intra moenia  
          ut si quis se proripuisset interius, multitudine missilium sterneretur et lapidum. 
        </p>
      </div>
      <div class="columns medium-6 large-3">
        <h3>Follow me</h3>
        <p>
          Hac ita persuasione reducti intra moenia bellatores obseratis undique portarum aditibus, 
          propugnaculis insistebant et pinnis, congesta undique saxa telaque habentes in promptu
        </p>
      </div>
  </div>
</footer>

